/*login Page styles*/

.login-container {
    max-width: 500px;
    max-height: 500px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.login-form-link-text{
    text-decoration: underline;
}

.login-btn{
    width:300px;
}

/*register page styles*/

.register-container {
    max-width: 550px;
    max-height: 750px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-text{
    font-size: 13px !important;
}

.register-form-link-text{
    text-decoration: underline;
}

.register-btn{
    width:300px;
}