/*Header styles*/

.navbar{
    background-color:black;
    height: 65px;
}

.navbar-brand img{
    width:180px;
    height:37px;
    margin-left: 25px;
}

.header-nav a{
    font-size:24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    background-color: black;
}

.bi-person-circle, .bi-cart4{
    color: white;
    font-size: 1.4rem;
}

/*Footer styles*/
footer{
    background-color: black;
    color: white;
    width: 100%;
    font-size: 15px;
    opacity: 0.9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer{
    height: 140px;
    text-align: center;
}

.footer-text{
    padding:7px;
    font-size: 18px;
    opacity: 0.8;
}

.footer-nav-links{
    padding:8px;
}

.footer > div > a {
    text-decoration: none;
    padding:7px;
    color: white;
    font-size: 20px;
}

.bi{
    padding: 4px;
}

.bi-twitter, .bi-facebook{
    font-size: 2rem;
    color:rgb(0, 106, 255);
}

.bi-youtube{
    font-size: 2rem;
    color:red;
}

.bi-instagram{
    font-size: 2rem;
    color:palevioletred;
}

/*login Page styles*/

.login-container {
    max-width: 500px;
    max-height: 500px;
    margin: 160px auto;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
    
  }

.login-form-link-text{
    text-decoration: underline;
    color: black;
    font-weight: 500;
}

.login-btn{
    width:250px;
}

/*register page styles*/

.register-container {
    max-width: 550px;
    max-height: 850px;
    margin: 100px auto;
    margin-bottom: 70px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

.form-text{
    font-size: 13px !important;
}

.register-form-link{
    text-align: center;
}

.register-form-link-text{
    text-decoration: underline;
    color: black;
    font-weight: 500;
}

.register-btn{
    width:300px;
}

/*Home Page*/

/*Home page category*/
.home-prod-category{
    padding: 20px 20px 30px 20px;
}

.home-prod-model-row{
    padding:12px 0px 12px 12px;
}
.home-prod-category-title{
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.1pc;
    padding: 20px;
}



.home-prod-category-col{
    padding: auto;
}

.home-model-col1, .home-model-col2{
    padding:20px 40px;
}

.home-prod-category-col img{
    height:100%;
    width:100%;
}

.home-model-col-left{
    height:40vw;
    width:100%;
}

.home-model-col-right{
    height:20vw;
    width:100%;
}

.home-prod-quote{
    font-family:"Lugrasimo";
    color: black;
    font-size: 30px;
    text-align: center;
}

.home-about-sneakers{
    padding: 20px 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 22px;
    text-align: justify;
    font-style: italic;
}

.lugrasimo-regular {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 576px) {
    .home-model-col2 {
        display:none;
    }
}

/*Product Men page*/

/*Product page body*/
.product-main{
    margin:65px 0px 5px 0px; 
    max-height: 8000px;
}

/*Product page carousel*/

.carousel-caption{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

.prod-carousel-caption2, .prod-carousel-caption3{
    position: relative;
    top: 10px;
    right: 10px;
}

.carousel-item {
    height: 30rem;
    max-width: 100vw;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-carousel-image1{
box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
background-image:url('../images/prod-carousel-1.webp');
}

.welcome-carousel-image2{
box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
background-image:url('../images/prod-carousel-2.jpg');
}

.welcome-carousel-image3{
box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
background-image:url('../images/prod-carousel-3.jpeg');
}

.welcome-carousel-image4{
box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
background-image:url('../images/prod-carousel-4.jpeg');
}

.welcome-carousel-image5{
box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
background-image:url('../images/prod-carousel-5.webp');
}


/*Product breadcrumbs*/
.prod-breadcrumbs-area{
    padding:12px 12px;
}

.breadcrumb-item{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;  
}

.prod-breadcrumb-link{
    text-decoration: none; 
    color: black;
}

.prod-sort{
    float: right;
    padding-right: 0px;
}

/*Product page filter form*/
.prod-filter{
    border-right: 0.5px solid grey;
    border-top: 0.5px solid grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.9rem;
}

.prod-filter-title{
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.prod-filter-form{
    padding:20px 5px;
    font-size: 1.2rem;
    opacity: 0.9;
}

.prod-filter-form-title{
    padding-bottom: 10px;
}

.prod-filter-color-dot {
    height: 13px;
    width: 13px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.bg-white{
    border: 0.5px solid grey;
}

/*Product page card list*/

.prod-list-area{
    padding: 10px 0px;
    margin-left: 10px;
    padding-bottom: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.prod-card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.prod-list-button{
    width:100%;
    opacity: 0.9;
}

@media (max-width: 992px) {
    .prod-filter {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .prod-filter {
      display: none;
    }



    .prod-card-img-top{
        width: 100%;
        height: 25vw;
        object-fit: cover;
    }
    
}

@media (max-width: 576px) {
.prod-filter {
    display: none;
}

.prod-card-img-top{
    width: 100%;
    height: 50vw;
    object-fit: cover;
}

}


/*Cart page*/

/*Cart title*/
.main{
    margin-top:80px;
    padding-bottom: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cart-area{
    padding-top:45px;
}

.cart-title{
    color:dimgray;
    text-align: center;
    font-size: 22px;
    padding:20px 20px 0px 20px;
    font-weight: 600;
}

.cart-titlepart{
    color:black;
}

.cart-btn{
    width:60%;
    margin:0px 0px 15px 0px;
} 

.cart-coupon, .cart-billing-table{
    width:60%;
    margin:15px 0px;
}

.bi-currency-rupee{
    font-size: 1rem;
    font-style: normal;
}

.cart-billing-title{
    letter-spacing: 0.8px;
    font-weight: 500;
    padding:10px;
}

.cart-billing-table > tbody > tr{
    border:0.1px solid dimgray;
}

.cart-billing-table > tbody > tr > td{
    padding:8px;
}

.cart-item-card{
    margin-left: 160px;
}

.cart-item-title, .card-item-subtitle{
    font-size: 20px;
}

.cart-img{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.cart-item-btn{
    float: right;
}

.cart-border{
    border-right: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
}

@media (max-width: 1200px) {
    .cart-btn, .cart-coupon, .cart-billing-table{ 
        width: 80%;
    }
}

@media (max-width: 992px) {

    .cart-coupon, .cart-billing-table{ 
        width: 70%;
        margin: 15px auto; /* Added */
        float: none; /* Added */
    }

    .cart-button{
        text-align: center;
    }

    .cart-btn{
        width: 70%;
    }

    .cart-item-card{
        margin: 15px auto; /* Added */
        float: none; /* Added */
    }

    .cart-item-btn{
        float: none;
    }
}

@media (max-width: 768px) {

    .cart-coupon, .cart-billing-table{ 
        width: 80%;
        margin: 15px auto; /* Added */
        float: none; /* Added */
    }

    .cart-button{
        text-align: center;
    }

    .cart-btn{
        width: 80%;
    }

    .cart-item-card{
        margin: 15px auto; /* Added */
        float: none; /* Added */
    }

    .cart-item-btn{
        float: none;
    }
}

@media (max-width: 576px) {

    .cart-coupon, .cart-billing-table{ 
        width: 100%;
        margin: 15px auto; /* Added */
        float: none; /* Added */
    }

    .cart-button{
        text-align: center;
    }

    .cart-btn{
        width: 100%;
    }

    .cart-item-card{
        margin: 15px auto; /* Added */
        float: none; /* Added */
    }

    .cart-item-btn{
        float: none;
    }
}

/*Order payment*/

/*address form*/

.order-main{
    margin-top:80px;
    padding-bottom: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

.order{
    padding:40px;
}

.order-title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:dimgray;
    text-align: center;
    font-size: 22px;
    padding:20px 20px 0px 20px;
    font-weight: 600;
}

.order-titlepart{
    color:black;
}

.order-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-btn{
    width: 260px;
    height:50px;
}

.order-border{
    border: 0.5px solid lightgray;
}

@media (max-width: 500px) {
    .form-check-label {
        font-size: 14px;
    }
}


/*Contact Page*/
.contact-subtitle{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;   
}

@media (max-width: 768px) {
    .banner {
      display: none;
    }
}